pre, .pre  {
  overflow-x: auto;
  overflow-y: hidden;
  overflow:   scroll;
}


pre  code {
  display: block;
  padding: 1.5em 1.5em;
  white-space: pre;
  font-size: 1rem;
  line-height: 4;

}

pre {
  background-color: #ddd;
  color: #222;
  white-space: pre;

  hyphens: none;
  position: relative;
}
